<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Top Header Content -->
                        <div class="top-header-meta">
                            <p>Welcome to <span>Farmie</span>, we hope you will enjoy our products and have good
                                experience</p>
                        </div>
                        <!-- Top Header Content -->
                        <div class="top-header-meta text-right">
                            <a href="#" data-toggle="tooltip" data-placement="bottom"
                                title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <span>Email: infodeercreative@gmail.com</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i
                                    class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="famie-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="famieNav">
                    <!-- Nav Brand -->
                    <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Navbar Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/shop">Store</a></li>
                                {{!-- <li><a href="#">About</a></li> --}}
                                <li><a href="/products">Our Product</a></li>
                                {{#if user}}
                                <li>
                                    <a href="#">
                                        <img src="img/bg-img/20.jpg" alt="" width="25" height="25"
                                            style="border-radius: 50%;">
                                        <span>{{user.email}}</span>
                                    </a>
                                </li>
                                {{else}}
                                <li><a href="/login">Login</a></li>
                                <li><a href="/signup">Register</a></li>
                                {{/if}}
                            </ul>
                            <!-- Search Icon -->
                            <div id="searchIcon">
                                <i class="icon_search" aria-hidden="true"></i>
                            </div>
                            <!-- Cart Icon -->
                            <div id="cartIcon">
                                <a href="#">
                                    <i class="icon_cart_alt" aria-hidden="true"></i>
                                    <span class="cart-quantity">{{cartItems.items.length}}</span>
                                </a>
                            </div>
                        </div>
                        <!-- Navbar End -->
                    </div>
                </nav>

                <!-- Search Form -->
                <div class="search-form">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                        <button type="submit" class="d-none"></button>
                    </form>
                    <!-- Close Icon -->
                    <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->